<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>   
	  <add name="SellPointEntities" connectionString="workstation id=SellPoint.mssql.somee.com;packet size=4096;user id=britoskies_SQLLogin_1;pwd=1n8b53c9q6;data source=SellPoint.mssql.somee.com;persist security info=False;initial catalog=SellPoint;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
